---
# Workflow to build Home Manager configuration from the flake
name: build-home-manager
run-name: Build Home Manager
on:
  pull_request:
jobs:
  build-hm:
    strategy:
      matrix:
        user: [timh]
        host: [bri7, m625q, mm, opx7070, sid, x13]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Free up disk space
        # https://github.com/jlumbroso/free-disk-space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          # Just Android is sufficient for now
          # Adding more, increases the job time
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: false
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      # https://nix.dev/tutorials/nixos/continuous-integration-github-actions
      - name: Cachix cache
        uses: cachix/cachix-action@v16
        with:
          name: timhourigan
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build
        run: |
          nix-shell -p home-manager gnumake --run "make build-hm"
        env:
          # Used by the makefile
          USER: ${{ matrix.user }}
          HOSTNAME: ${{ matrix.host }}
          NIX_OUTPUT_MONITOR: ""
        timeout-minutes: 15
