---
# Workflow to update the flake regularly
name: update-flake
run-name: Update Flake
on:
  # FIXME - Disable for now
  # schedule:
  #   - cron: "0 3 * * *"     # Every day at 03:00
  workflow_dispatch:        # Allow manual triggering
jobs:
  update-flake:
    permissions:
      contents: write       # To push changes
      pull-requests: write  # To create PRs if needed
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - name: Update flake.lock
        id: update-flake
        uses: DeterminateSystems/update-flake-lock@v27
        with:
          branch: actions/update-flake
          pr-title: "chore: Update flake.lock"
          pr-labels: |
            actions
            automated
      - name: Run make test
        run: |
          {
            echo 'TEST_RESULT<<EOF'
            make test 2>&1
            echo EOF
          } >> "$GITHUB_ENV"
        timeout-minutes: 5
      - name: Comment PR with test result
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            ### make test result
            ```
            ${{ env.TEST_RESULT }}
            ```
          pr-number: ${{ steps.update-flake.outputs.pull-request-number }}
